<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="\static\css\landingstyle.css">
    <link rel="stylesheet" href="\static\css\landingvars.css">
 
 <style>
a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
box-sizing: border-box;
margin: 0;
padding: 0;
border: none;
text-decoration: none;
background: none;

-webkit-font-smoothing: antialiased;
}

menu, ol, ul {
list-style-type: none;
margin: 0;
padding: 0;
}
</style>
<title>Welcome to Nirvana</title> </head>
<body>
 <div class="landing">
 <div class="landing-page-cta">
 <div class="frame-1">
 <div
 class="it-s-normal-to-feel-sad-stressed-and-anxious-during-difficult-times">
 It's normal to feel sad, stressed and anxious during difficult times
 </div>
 <div class="let-sera-guide-you-to-balance">
 Let Sera guide you to balance
 </div>
 </div>
<a href="{{ url_for('navigated_page') }}" class="landing-page-button">
 <div class="frame-2">
 <div class="start-your-journey">Start your journey</div>
 </div>
</a>

 </div>
 <div class="top-bar-landing">
 <div class="nirvana">Nirvana.</div>
 <div class="frame-4">
 <div class="log-in">Log In</div>
 </div>
 </div>
 <div class="this-is-sera">This is Sera</div>
 </div>
<script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.92/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/MfOdyIu8WsIinfNA/scene.splinecode"></spline-viewer>
</body>
</html>